.bar {
    fill: #BF0A30;
  }
  
  .bar:hover {
    fill: #ec2752;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
  }
  
  .axis text {
    font-family: sans-serif;
    font-size: 12px;
  }

  .axis-title {
    fill: white;
  }
  
  .tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  