.heatmap-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* .heatmap-svg {
    width: 100%;
    height: 100%;
    overflow: visible;
} */

.viz-container {
    display: flex;
    justify-content: center;
    width: 100%;
}